@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
/* Estilo del cuerpo de la página */
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff; /* Blanco */
  color: #000000; /* Color de texto principal */
  font-family: 'Poppins', sans-serif;
}
  
/* Encabezado del sitio */
header {
  background-color: #3164F4; /* Azul */
  text-align: center;
  color: #000000; /* Blanco */
  display: flex;
  align-items: center;
  padding: 10px;
}
footer {
  background-color: #3164F4; /* Azul */
  padding: 20px;
  text-align: center;
  color: #ffffff; /* Blanco */
}

/* Estilo para los títulos principales */
h1 {
  margin: 0;
  padding-left: 10px;
} 

h2 {
  color: #000000; /* Negro */
 }

/* Estilo para los enlaces */
a {
  color: #c2c6ec; /* Azul claro */
  text-decoration: none;
}

/* Contenedor principal */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-right: 15px;
}

/* Estilos para el formulario de contacto */
.contact-form {
  max-width: 600px;
  margin: 0 auto;
}

/* Estilos para el botón de WhatsApp */
.whatsapp-option {
  text-align: center;
  margin-top: 20px;
}

/* Media queries para diseño responsive */
@media (max-width: 767px) {
  h1 {
    font-size: 24px;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .contact-form {
    padding: 0 15px;
  }
}
